@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
      html,
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      .head {
        display: flex;
        font-weight: 700;
        margin: 5px 0;
        border-radius: 5px;
        width: 100%;
        height: 5%;
      }
      .head > div {
        margin-right: 5px;
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 5px;
        border: 1px dotted black;
        align-items: center;
        justify-content: center;
        background-color: aliceblue;
        font-family: "Bagel Fat One", cursive;
      }
      .head > div:hover {
        background-color: grey;
        color: yellow;
      }
      img {
        width: 30px;
        height: 30px;
      }
      .content {
        width: 100%;
        height: 90%;
        background: url(https://img.freepik.com/free-vector/watercolor-background-vector-in-blue-abstract-style_53876-126688.jpg);
        background-repeat: no-repeat;
        background-size: cover;
       margin-top: 5px;
        border-radius: 5px;
        padding-top: 5px;
        color: fuchsia;
      }
      .content > table {
        border-collapse: collapse;
        width: 100%;
        height: 10%;
        text-align: center;
        margin-top: 10px;
      }
      .content > tr,
      td {
        border: 1px solid black;
        width: 20%;
        color: chocolate;
        font-family: "Bagel Fat One", cursive;
      }
      td:hover {
        animation: myani 3s infinite;
      }
      @keyframes myani {
        0% {
          color: orange;
          background-color: grey;
        }

        25% {
          color: yellow;
          background-color: grey;
        }

        75% {
          color: red;
          background-color: grey;
        }

        100% {
          color: pink;
          background-color: grey;
        }
      }
      .content > .boardList {
        display: flex;
        width: 100%;
        height: 5%;
      }
      .content > .boardList > div {
        width: 20%;
        border: 1px dotted firebrick;
        border-radius: 5px;
        margin: 3px;
        text-align: center;
      }
      footer{
        width: 100%;
        height: 3%;
      }
      footer>div{
        height: 100%;
        width: 100%;
        margin-top: 5px;
        border: 1px solid black;
        background-color: beige;
        border-radius: 5px;
      }
      footer>div>button{
        border: 1px solid red;
        background-color: grey;
        color: yellow;
      }
      footer>div>button:hover{
        background-color: black;
        color: red;
        animation: myframe 3s infinite;
      }
      @keyframes myframe{
        0% {
          color: red;   
        }

        25% {
          color: orange;
        }

        75% {
          color: yellow
        }

        100% {
          color: red;
        }
      }