@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.head {
  display: flex;
  font-weight: 700;
  margin: 5px 0;
  border-radius: 5px;
  width: 100%;
  height: 5%;
}
.head > div {
  margin-right: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 5px;
  border: 1px dotted black;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  font-family: "Bagel Fat One", cursive;
}
.head > div:hover {
  background-color: grey;
  color: yellow;
}
img {
  width: 30px;
  height: 30px;
}
.content {
  width: 100%;
  height: 80%;
  margin-top: 5px;
  background-image: url(https://cdn.pixabay.com/animation/2023/03/04/13/53/13-53-02-953_512.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://cdn.pixabay.com/animation/2023/03/04/13/53/13-53-02-953_512.gif);
}
.navi {
  width: 100%;
  height: 10%;
  background-color: beige;
  margin-top: 5px;
  border-radius: 5px;
}
.content > form {
  width: 100%;
  height: 80%;
  color: wheat;
}
.content > form > #title,
#user {
  width: 50%;
  height: 10%;
  margin: 10px;
}
.content > form > #detail {
  width: 60%;
  height: 40%;
  margin: 10px;
}
.content > form > button {
  position: relative;
  top: 47%;
  border-radius: 5px;
  border: 1px black dotted;
  background-color: aqua;
}
.content > form > button:hover {
  background-color: gray;
  color: red;
}